<?xml version="1.0" encoding="utf-8"?>
<PackageConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Namespace>StarcounterSamples.Barcodes</Namespace>
  <Channel>Stable</Channel>
  <Version>3.0.5</Version>
  <AppName>Barcodes</AppName>
  <Executable>app/Barcodes.exe</Executable>
  <ResourceFolder>Content</ResourceFolder>
  <ImageUri>Barcodes.png</ImageUri>
  <Company>StarcounterSamples</Company>
  <DisplayName>Barcodes</DisplayName>
  <Description>Sample micro app that can put a barcode on anything. Try it with **products**.</Description>
  <VersionDate>2016-11-17T13:00:00Z</VersionDate>
  <Dependency name="Starcounter">~2.2.1.3234</Dependency>
</PackageConfig>
